.Rproj.user
.Rhistory
.RData
.Ruserdata
app.log
/app_errors
/progress
/progress_secondary
/dist
/portable-pandoc
/portable-r
/node_modules
R-4.4.2.exe
R/report_Onderwerpextractie.html
R/report_Categorisatie.html
R/report_Scoren.html
R/report_Onderwerpextractie_en.html
R/report_Categorisatie_en.html
R/report_Scoren_en.html
R/report_Onderwerpextractie_nl.html
R/report_Categorisatie_nl.html
R/report_Scoren_nl.html
/portable-gliner-venv
