.Rproj.user
.Rhistory
.RData
.Ruserdata
/progress
/progress_secondary
llm_open_antwoorden.Rproj
R/report_Onderwerpextractie.html
R/report_Categorisatie.html
R/report_Scoren.html
llm_open_antwoorden.Rproj
/app_errors
/shinylive
/executable/dist
/executable/node_modules
/dist
/portable-r
/node_modules
app.log
/portable-pandoc
R-4.4.2.exe
